<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Dynalight|Playball|Satisfy|Calligraffitti' rel='stylesheet' type='text/css'>

  <title>Craft Cocktail</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <nav class="top-bar">
    <!-- <div class="wrapper"> -->
    <ul class="title-area">
      <li class="name"></li>
       <li class="toggle-topbar menu-icon"><a href="#"><span>Craft Cocktail</span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li><%= link_to 'HOME', '/' %></li>
        <li class="divider"></li>
        <% if current_user %>
          <li><%= link_to "#{current_user.email}", "/users/#{current_user.id}" %></li>
          <li class="divider"></li>
          <li><%= link_to 'LOGOUT', '/logout' %></li>
        <% else %>
          <li><%= link_to 'SIGNUP', '/signup' %></li>
          <li class="divider"></li>
          <li><%= link_to 'LOGIN', '/login' %></li>
        <% end %>
      </ul>
    </section>
<!--   </div> --></nav>




<div class="wrapper">
<%= yield %>
<%= yield :scripts %>

</div>
</body>
</div>
</html>
